<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Електронна бібліотека</title>

    <!-- CSS  -->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <link th:href="@{/css/material_icons.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav th:replace="elements/header :: header"></nav>
<br>
<div class="container" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div class="row" th:each="bid,bidStat : ${bids}">
        <div class="col s6">
            <div class="card-panel white">
                <div class="black-text" th:text="${bid.user.lastName + ' ' + bid.user.firstName}"></div>
                <div class="black-text" th:text="${bid.book.bookName}"></div>
                <form action="/admin/giveBook" method="get">
                    <input th:type="hidden" name="userId" th:value="${bid.user.id}">
                    <input th:type="hidden" name="bidId" th:value="${bid.id}">
                    <div class="input-field">
                        <select name="cardId">
                            <option value="" disabled selected>Виберіть ваш варіант</option>
                            <th:block th:each="bookCard,cardStat : ${bid.book.bookCards}">
                                <option th:value="${bookCard.id}" th:text="${bookCard.id}">Option 1</option>
                            </th:block>
                        </select>
                        <label>Виберіть код екземпляра</label>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Видати книгу
                        <i class="material-icons right">send</i>
                    </button>
                    <a th:href="@{'/admin/removeBid?bidId=' + ${bid.id}}" class="offset-s2 btn-floating indigo darken-2">
                        <i class="tiny material-icons">delete</i>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-2.1.1.js"></script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>
<script src="/js/main.js"></script>
<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>
</body>
<footer th:replace="elements/footer :: footer"></footer>
</html>