<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Електронна бібліотека</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="#ede7f6 deep-purple lighten-5">
<nav th:replace="elements/header :: header"></nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center">Вітаємо у бібліотеці</h1>
        <div class="row center">
            <h5 class="header col s12 light">Наша система допоможе вам вибрати для себе гарну книгу!</h5>
        </div>
        <br><br>

    </div>
</div>


<div class="container">
    <div th:each="book,bookStat : ${books}" class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" th:src="@{'images/' + ${book.imageLink}}">
                </div>
                <div class="card-content">
                    <span th:text="${book.bookName}" class="card-title activator grey-text text-darken-4"><i
                            class="material-icons right">more_vert</i></span>
                    <p th:text="${book.description}"></p>
                    <p><a href="#">Заказать книгу</a></p>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Игра престолов<i
                        class="material-icons right">close</i></span>
                    <div>
                        <span class="materialize-red-text">Авторы:</span>
                        <th:block th:each="author,authorStat : ${book.authors}">
                            <p th:text="${author.name} + ' ' + ${author.lastName} + ' ' + ${author.middleName}"></p>
                        </th:block>
                    </div>
                    <p>
                        <span class="materialize-red-text">Издатель:</span>
                        <span th:text="${book.publisher}"></span>
                    </p>
                    <p>
                        <span class="materialize-red-text">УДК:</span>
                        <span th:text="${book.udkCategory.id} + ' ' + ${book.udkCategory.categoryName}">4: Прочее</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Год издательства:</span>
                        <span th:text="${book.publishYear}"></span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Количество страниц:</span>
                        <span th:text="${book.pagesCount}"></span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Издание:</span>
                        <span th:text="${book.publication}"></span>
                    </p>
                    <p>
                        <span class="materialize-red-text">В наличии:</span>
                        <th:block th:each="bookCard,bookCardStat : ${book.bookCards}">
                            <span th:text="${bookCard.id} + ', '"></span>
                        </th:block>
                    </p>

                    <p><span class="materialize-red-text">Описание:</span>
                        <span th:text="${book.description}"></span></p>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/2.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Игра престолов<i
                            class="material-icons right">more_vert</i></span>
                    <p>Игра престолов — первая книга цикла «Песнь Льда и Пламени». Это же название носят созданные по
                        мотивам книг игры (ролевые, настольные, колеционные, карточные[1]), адаптация книги в виде
                        комикса и телесериал канала HBO, а также все посвященные ему проекты.</p>
                    <p><a href="#">Заказать книгу</a></p>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Игра престолов<i
                        class="material-icons right">close</i></span>
                    <p>
                        <span class="materialize-red-text">Авторы:</span>
                        <span>Первый автор;</span>
                        <span>Второй автор;</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Издатель:</span>
                        <span>Литрес</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">УДК:</span>
                        <span>4: Прочее</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Год издательства:</span>
                        <span>1996</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Количество страниц:</span>
                        <span>1000</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Издание:</span>
                        <span>Новое</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">В наличии:</span>
                        <span>12312312,</span>
                        <span>53453245,</span>
                        <span>65463464,</span>
                        <span>53425235,</span>
                    </p>

                    <p><span class="materialize-red-text">Описание:</span>
                        <span>Игра престолов — первая книга цикла «Песнь Льда и Пламени». Это же название носят созданные по
                        мотивам книг игры (ролевые, настольные, колеционные, карточные[1]), адаптация книги в виде
                        комикса и телесериал канала HBO, а также все посвященные ему проекты.</span></p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/2.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Игра престолов<i
                            class="material-icons right">more_vert</i></span>
                    <p>Игра престолов — первая книга цикла «Песнь Льда и Пламени». Это же название носят созданные по
                        мотивам книг игры (ролевые, настольные, колеционные, карточные[1]), адаптация книги в виде
                        комикса и телесериал канала HBO, а также все посвященные ему проекты.</p>
                    <p><a href="#">Заказать книгу</a></p>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Игра престолов<i
                        class="material-icons right">close</i></span>
                    <p>
                        <span class="materialize-red-text">Авторы:</span>
                        <span>Первый автор;</span>
                        <span>Второй автор;</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Издатель:</span>
                        <span>Литрес</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">УДК:</span>
                        <span>4: Прочее</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Год издательства:</span>
                        <span>1996</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Количество страниц:</span>
                        <span>1000</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Издание:</span>
                        <span>Новое</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">В наличии:</span>
                        <span>12312312,</span>
                        <span>53453245,</span>
                        <span>65463464,</span>
                        <span>53425235,</span>
                    </p>

                    <p><span class="materialize-red-text">Описание:</span>
                        <span>Игра престолов — первая книга цикла «Песнь Льда и Пламени». Это же название носят созданные по
                        мотивам книг игры (ролевые, настольные, колеционные, карточные[1]), адаптация книги в виде
                        комикса и телесериал канала HBO, а также все посвященные ему проекты.</span></p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/2.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Игра престолов<i
                            class="material-icons right">more_vert</i></span>
                    <p>Игра престолов — первая книга цикла «Песнь Льда и Пламени». Это же название носят созданные по
                        мотивам книг игры (ролевые, настольные, колеционные, карточные[1]), адаптация книги в виде
                        комикса и телесериал канала HBO, а также все посвященные ему проекты.</p>
                    <p><a href="#">Заказать книгу</a></p>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Игра престолов<i
                        class="material-icons right">close</i></span>
                    <p>
                        <span class="materialize-red-text">Авторы:</span>
                        <span>Первый автор;</span>
                        <span>Второй автор;</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Издатель:</span>
                        <span>Литрес</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">УДК:</span>
                        <span>4: Прочее</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Год издательства:</span>
                        <span>1996</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Количество страниц:</span>
                        <span>1000</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Издание:</span>
                        <span>Новое</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">В наличии:</span>
                        <span>12312312,</span>
                        <span>53453245,</span>
                        <span>65463464,</span>
                        <span>53425235,</span>
                    </p>

                    <p><span class="materialize-red-text">Описание:</span>
                        <span>Игра престолов — первая книга цикла «Песнь Льда и Пламени». Это же название носят созданные по
                        мотивам книг игры (ролевые, настольные, колеционные, карточные[1]), адаптация книги в виде
                        комикса и телесериал канала HBO, а также все посвященные ему проекты.</span></p>
                </div>
            </div>
        </div>

        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/2.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Игра престолов<i
                            class="material-icons right">more_vert</i></span>
                    <p>Игра престолов — первая книга цикла «Песнь Льда и Пламени». Это же название носят созданные по
                        мотивам книг игры (ролевые, настольные, колеционные, карточные[1]), адаптация книги в виде
                        комикса и телесериал канала HBO, а также все посвященные ему проекты.</p>
                    <p><a href="#">Заказать книгу</a></p>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Игра престолов<i
                        class="material-icons right">close</i></span>
                    <p>
                        <span class="materialize-red-text">Авторы:</span>
                        <span>Первый автор;</span>
                        <span>Второй автор;</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Издатель:</span>
                        <span>Литрес</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">УДК:</span>
                        <span>4: Прочее</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Год издательства:</span>
                        <span>1996</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Количество страниц:</span>
                        <span>1000</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Издание:</span>
                        <span>Новое</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">В наличии:</span>
                        <span>12312312,</span>
                        <span>53453245,</span>
                        <span>65463464,</span>
                        <span>53425235,</span>
                    </p>

                    <p><span class="materialize-red-text">Описание:</span>
                        <span>Игра престолов — первая книга цикла «Песнь Льда и Пламени». Это же название носят созданные по
                        мотивам книг игры (ролевые, настольные, колеционные, карточные[1]), адаптация книги в виде
                        комикса и телесериал канала HBO, а также все посвященные ему проекты.</span></p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/2.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Игра престолов<i
                            class="material-icons right">more_vert</i></span>
                    <p>Игра престолов — первая книга цикла «Песнь Льда и Пламени». Это же название носят созданные по
                        мотивам книг игры (ролевые, настольные, колеционные, карточные[1]), адаптация книги в виде
                        комикса и телесериал канала HBO, а также все посвященные ему проекты.</p>
                    <p><a href="#">Заказать книгу</a></p>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Игра престолов<i
                        class="material-icons right">close</i></span>
                    <p>
                        <span class="materialize-red-text">Авторы:</span>
                        <span>Первый автор;</span>
                        <span>Второй автор;</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Издатель:</span>
                        <span>Литрес</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">УДК:</span>
                        <span>4: Прочее</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Год издательства:</span>
                        <span>1996</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Количество страниц:</span>
                        <span>1000</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Издание:</span>
                        <span>Новое</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">В наличии:</span>
                        <span>12312312,</span>
                        <span>53453245,</span>
                        <span>65463464,</span>
                        <span>53425235,</span>
                    </p>

                    <p><span class="materialize-red-text">Описание:</span>
                        <span>Игра престолов — первая книга цикла «Песнь Льда и Пламени». Это же название носят созданные по
                        мотивам книг игры (ролевые, настольные, колеционные, карточные[1]), адаптация книги в виде
                        комикса и телесериал канала HBO, а также все посвященные ему проекты.</span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="pagination">
    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    <li class="active"><a href="#!">1</a></li>
    <li class="waves-effect"><a href="#!">2</a></li>
    <li class="waves-effect"><a href="#!">3</a></li>
    <li class="waves-effect"><a href="#!">4</a></li>
    <li class="waves-effect"><a href="#!">5</a></li>
    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>
<footer th:replace="elements/footer :: footer"></footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
