<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Електронна бібліотека</title>

    <!-- CSS  -->
    <link href="/css/material_icons.css" rel="stylesheet">
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body class="#ede7f6 deep-purple lighten-5">
<nav th:replace="elements/header :: header"></nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center">Вітаємо у бібліотеці</h1>
        <div class="row center">
            <h5 class="header col s12 light">Наша система допоможе вам вибрати для себе гарну книгу!</h5>
        </div>
        <br><br>

    </div>
</div>
<div class="container">
    <div class="row">
        <div th:each="book,bookStat : ${books}" th:if="${bookStat.index lt 3}" class="col s4">
            <div class="card">
                <a th:href="${'/admin/editBook/' + book.bookId}" class="offset-s2 btn-floating indigo darken-2">
                    <i class="tiny material-icons">mode_edit</i>
                </a>
                <div class="card-content">
                    <span th:text="${book.bookName}" class="card-title activator grey-text text-darken-4"><i
                            class="material-icons right">more_vert</i></span>
                    <!--<p th:text="${book.description}"></p>-->
                    <p><a class="bidHref" href="javascript:">Заказать книгу</a></p>
                    <div class="row bidBooks">
                        <div class="col s12" th:each="bookCard,bookCardStat : ${book.bookCards}">
                            <p><a th:text="${bookCard.id}" th:href="@{/addBid(bookId=${bookCard.id})}"></a></p>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" th:text="${book.bookName}"><i
                        class="material-icons right">close</i></span>
                    <div>
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" th:src="@{'uploads/' + ${book.imageName}}">
                        </div>
                        <span class="materialize-red-text">Авторы:</span>
                        <th:block th:each="author,authorStat : ${book.authors}">
                            <p th:text="${author.name} + ' ' + ${author.lastName} + ' ' + ${author.middleName}"></p>
                        </th:block>
                    </div>
                    <p>
                        <span class="materialize-red-text">Издатель:</span>
                        <span th:text="${book.publisher}"></span>
                    </p>
                    <p>
                        <span class="materialize-red-text">УДК:</span>
                        <span th:text="${book.udkCategory.id} + ' ' + ${book.udkCategory.categoryName}">4: Прочее</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Год издательства:</span>
                        <span th:text="${book.publishYear}"></span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Количество страниц:</span>
                        <span th:text="${book.pagesCount}"></span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Издание:</span>
                        <span th:text="${book.publication}"></span>
                    </p>
                    <p>
                        <span class="materialize-red-text">В наличии:</span>
                        <th:block th:each="bookCard,bookCardStat : ${book.bookCards}">
                            <span th:text="${bookCard.id} + ', '"></span>
                        </th:block>
                    </p>

                    <p><span class="materialize-red-text">Описание:</span>
                        <span th:text="${book.description}"></span></p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div th:each="book,bookStat : ${books}" th:if="${bookStat.index gt 2}" class="col s4">
            <div class="card">
                <a th:href="${'/admin/editBook/' + book.bookId}" class="offset-s2 btn-floating indigo darken-2">
                    <i class="tiny material-icons">mode_edit</i>
                </a>
                <div class="card-content">
                    <span th:text="${book.bookName}" class="card-title activator grey-text text-darken-4"><i
                            class="material-icons right">more_vert</i></span>
                    <!--<p th:text="${book.description}"></p>-->
                    <p><a class="bidHref" href="javascript:">Заказать книгу</a></p>
                    <div class="row bidBooks">
                        <div class="col s12" th:each="bookCard,bookCardStat : ${book.bookCards}">
                            <p><a th:text="${bookCard.id}" th:href="@{/addBid(bookId=${bookCard.id})}"></a></p>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                <span class="card-title grey-text text-darken-4" th:text="${book.bookName}"><i
                        class="material-icons right">close</i></span>
                    <div>
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" th:src="@{'uploads/' + ${book.imageName}}">
                        </div>
                        <span class="materialize-red-text">Авторы:</span>
                        <th:block th:each="author,authorStat : ${book.authors}">
                            <p th:text="${author.name} + ' ' + ${author.lastName} + ' ' + ${author.middleName}"></p>
                        </th:block>
                    </div>
                    <p>
                        <span class="materialize-red-text">Издатель:</span>
                        <span th:text="${book.publisher}"></span>
                    </p>
                    <p>
                        <span class="materialize-red-text">УДК:</span>
                        <span th:text="${book.udkCategory.id} + ' ' + ${book.udkCategory.categoryName}">4: Прочее</span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Год издательства:</span>
                        <span th:text="${book.publishYear}"></span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Количество страниц:</span>
                        <span th:text="${book.pagesCount}"></span>
                    </p>
                    <p>
                        <span class="materialize-red-text">Издание:</span>
                        <span th:text="${book.publication}"></span>
                    </p>
                    <p>
                        <span class="materialize-red-text">В наличии:</span>
                        <th:block th:each="bookCard,bookCardStat : ${book.bookCards}">
                            <span th:text="${bookCard.id} + ', '"></span>
                        </th:block>
                    </p>

                    <p><span class="materialize-red-text">Описание:</span>
                        <span th:text="${book.description}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>

<ul th:if="${books.totalPages>0}" class="center pagination">
    <li th:unless="${books.first}" th:classappend="${books.first} ? disabled : waves-effect">
        <a th:href="@{'/?page=' + ${books.number}}"><i class="material-icons">chevron_left</i></a></li>
    <li th:if="${books.first}" th:classappend="${books.first} ? disabled : waves-effect">
        <a href="javascript:"><i class="material-icons">chevron_left</i></a></li>
    <th:block th:each="i : ${#numbers.sequence(0,books.totalPages-1)}">
        <li th:classappend="${i eq books.number} ? active : waves-effect"><a th:text="${i+1}" th:href="@{'/?page=' + ${i+1}}"></a></li>
    </th:block>
    <li th:unless="${books.last}" th:classappend="${books.last} ? disabled : waves-effect"><a th:href="@{'/?page=' + ${books.number + 2}}"><i class="material-icons">chevron_right</i></a></li>
    <li th:if="${books.last}" th:classappend="${books.last} ? disabled : waves-effect"><a href="javascript:"><i class="material-icons">chevron_right</i></a></li>
</ul>



<!--  Scripts-->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
<script src="js/main.js"></script>

</body>
</html>
