<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Електронна бібліотека</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav th:replace="elements/header :: header"></nav>
<br>
<div class="container" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <div class="row">
        <form action="#" th:action="@{/addUser}" th:object="${user}" method="post" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input placeholder="Email(Логін)" th:field="*{username}" th:class="${#fields.hasErrors('username')}? fieldError" id="email" type="email" class="validate">
                    <label for="email">Email(Логін)</label>
                    <ul>
                        <li th:class="errorMessage" th:each="err : ${#fields.errors('username')}" th:text="${err}" />
                    </ul>
                </div>
                <div class="input-field col s6">
                    <input id="password" th:field="*{password}" type="password" class="validate">
                    <label for="password">Пароль</label>
                    <ul>
                        <li th:class="errorMessage" th:each="err : ${#fields.errors('password')}" th:text="${err}" />
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input placeholder="Ім'я" th:field="*{firstName}" id="firstName" type="text" class="validate">
                    <label for="firstName">Ім'я</label>
                    <ul>
                        <li th:class="errorMessage" th:each="err : ${#fields.errors('firstName')}" th:text="${err}" />
                    </ul>
                </div>
                <div class="input-field col s4">
                    <input id="lastName" th:field="*{lastName}" type="text" class="validate">
                    <label for="lastName">Прізвище</label>
                    <ul>
                        <li th:class="errorMessage" th:each="err : ${#fields.errors('lastName')}" th:text="${err}" />
                    </ul>
                </div>
                <div class="input-field col s4">
                    <input id="middleName" th:field="*{middleName}" type="text" class="validate">
                    <label for="middleName">По-батькові</label>
                    <ul>
                        <li th:class="errorMessage" th:each="err : ${#fields.errors('middleName')}" th:text="${err}" />
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s4">
                    <i class="material-icons prefix">textsms</i>
                    <input th:field="*{address}" type="text" id="address" class="autocomplete">
                    <label for="address">Адреса</label>
                    <ul>
                        <li th:class="errorMessage" th:each="err : ${#fields.errors('address')}" th:text="${err}" />
                    </ul>
                </div>
                <div class="input-field col s4">
                    <i class="material-icons prefix">phone</i>
                    <input th:field="*{phoneNumber}" id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Телефон</label>
                    <ul>
                        <li th:class="errorMessage" th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}" />
                    </ul>
                </div>
                <div class="input-field col s4">
                    <input th:field="*{passport}" id="passport" type="text" class="validate">
                    <label for="password">Паспорт</label>
                    <ul>
                        <li th:class="errorMessage" th:each="err : ${#fields.errors('passport')}" th:text="${err}" />
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    <label for="birthdate" class="">Дата народження</label>
                </div>
                <div class="input-field col s10">
                    <input id="birthdate" th:field="*{birthday}" type="date" class="datepicker">
                    <ul>
                        <li th:class="errorMessage" th:each="err : ${#fields.errors('birthday')}" th:text="${err}" />
                    </ul>
                </div>
            </div>
            <div class="row">

            </div>
            <div class="row">
                <div class="input-field col s4">
                    <input th:field="*{position}" id="position" type="text" class="validate">
                    <label for="faculty">Посада</label>
                    <ul>
                        <li th:class="errorMessage" th:each="err : ${#fields.errors('position')}" th:text="${err}" />
                    </ul>
                </div>
                <div class="input-field col s4">
                    <select th:field="*{faculty.name}">
                        <option value="" disabled selected>Виберіть факультет</option>
                        <option th:each="faculty : ${faculties}"
                                th:value="${faculty.id}"
                                th:text="${faculty.name}"></option>
                    </select>
                    <label>Факультет</label>
                </div>

                <div class="input-field col s4">
                    <input th:field="*{department}" id="department" type="text" class="validate">
                    <label for="department">Підрозділ</label>
                    <ul>
                        <li th:class="errorMessage" th:each="err : ${#fields.errors('department')}" th:text="${err}" />
                    </ul>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Зареєструватися<i class="material-icons right">send</i></button>
        </form>
    </div>
    <br><br>

    <div class="section">

    </div>
</div>

<footer th:replace="elements/footer :: footer"></footer>


<script th:inline="javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/materialize.js}"></script>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/init.js}"></script>

<!--  Scripts-->
<script>
    $(document).ready()
    {
        $('select').material_select();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year
            format: 'dd-mm-yyyy'
        });
    }
</script>
</body>
</html>
